<!DOCTYPE html>
<html>
<head>
    <title>Table Activity</title>
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <style>
        .chart-container {
            width: 100%;
            overflow-x: auto;  /* Enable horizontal scrolling */
        }

        .chart-container-table {
            height: 300px; 
            width: 2000px; /* Adjust width to enable scrolling */
        }

        
    </style>
        
    <script type="text/javascript">
        function my_fun(chartId, data) {
            var dataPoints = data.map(function(d) {
                return { x: new Date(d.timestamp), y: d.is_active };
            });

            // Define buffer time in milliseconds (e.g., 1 minute)
            var bufferTime = 1 * 60 * 1000;

            // Get the last y-value
            var lastValue = dataPoints.length > 0 ? dataPoints[dataPoints.length - 1].y : 0;

            // Add buffer timestamp at the end
            if (dataPoints.length > 0) {
                var lastTimestamp = new Date(dataPoints[dataPoints.length - 1].x);
                var bufferedEndTimestamp = new Date(lastTimestamp.getTime() + bufferTime);
                dataPoints.push({ x: bufferedEndTimestamp, y: lastValue });
            }

            var chart = new CanvasJS.Chart(chartId, {
                title: {
                    text: "Table Activity"
                },
                axisX: {
                    title: "Timeline",
                    gridThickness: 2,
                    valueFormatString: "DD MMM YYYY HH:mm:ss"
                },
                axisY: {
                    title: "Activity",
                    interval: 1,
                    labelFormatter: function(e) {
                        return e.value === 1 ? "Active" : "Inactive";
                    }
                },
                data: [
                    {        
                        type: "stepArea",
                        color: "blue",
                        fillOpacity: 0.2,
                        lineThickness: 2,
                        dataPoints: dataPoints
                    }
                ]
            });

            chart.render();
        }

        window.onload = function() {
            {% for activity in activities %}
            my_fun("chartContainer{{activity.table}}", JSON.parse('{{ activity.timeseries|escapejs }}'));
            {% endfor %}
        }


    </script>

</head>
<body>
    <h1>Table Activity</h1>
    <div class="chart-container">
        {% for activity in activities %}
            <div class="chart-container-table" id="chartContainer{{activity.table}}" ></div>
        {% endfor %}
    </div>
</body>
</html>
