<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Setup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fanaCallSetup/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>ESP32 Setup</h1>
        <form id="setup-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <div id="response"></div>
    </div>
    <div id="loading-overlay" class="loading-overlay" style="display:none;">
        <div id="loading">Loading...</div>
    </div>
    <script src="{% static 'fanaCallSetup/scripts.js' %}"></script>
</body>
</html>
