body {
    display: flex;
    margin: 0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: lavender;
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}
